.icons {
    background-color: $grey;
    font-size: 20px;
    color: black;
    padding: 40px 20px 80px 20px;

    
    @include large {
        font-size: $text-medium;
        padding: 40px 40px 80px 40px;
    }
    
    &__content {
        @include large {
            margin-top: 50px;
            padding-bottom: 50px;
            width: 75%;
            margin-left: 12.5%;
        }
    }
    
    p {
        margin-bottom: 1em;
        
        strong {
            color: $purple;
        }
        @include large {
            margin-top: 0;
            width: 50%;
            margin-left: 25%;
        }
    }
    
    &__heading {
        margin-top: 4em;
        
        @include large {
            margin-top: 0em;
        }
    }
    
    @include large {
        &__items {
            overflow: auto;    
        } 
    }
    
    
    &__item {
        margin-bottom: 1em;
        width: 100%;
        font-size: 16px;
        text-align: center;
        
        @include large {
            font-size: 20px;
            width: calc(25% - 8px);
            float: left;
            margin-right: 10px;
            
            
            &:nth-of-type(4n) {
                margin-right: 0;
            }
        }
    }
    
    &__join {
        margin: 2em 0;
        background-color: $purple;
        border-color: $purple;
        color: white;
        
        @include large {
            width: 50%;
            margin-left: 25%;
        }
        
        &:hover {
            color: $purple;
        }
    }
    
}