.page {
    padding: 100px 20px;
    background-color: white;
    &__content {
        @include large {
            width: 75%;
            margin-left: 12.5%;
        }
    }
    
    h1 {
        text-align:center;
        margin-bottom: 1em;
        color: $purple;
    }
    p {
        margin-bottom: 1em;
        line-height: 1.5;
    }
}